---
services:
  golangfromzero:
    image: fabianoflorentino/golangfromzero:v0.0.1
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    env_file:
      - ./config/.env
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - ./:/golangfromzero
    ports:
      - "${SERVER_PORT:-6000}:6000"
    networks:
      - golangfromzero-network
    tty: true
    stdin_open: true
    healthcheck:
      test: ["CMD-SHELL", "ps aux |grep 'air' || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 3
  database:
    image: postgres:16-alpine3.23
    env_file:
      - ./config/.env
    ports:
      - "5432:5432"
    networks:
      - golangfromzero-network
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U golangfromzero"]
      interval: 5s
      timeout: 5s
      retries: 3

volumes:
  pgdata:
    driver: local

networks:
  golangfromzero-network:
    driver: bridge
